schema_files/CAAMLv6_BulletinEAWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:caaml="http://caaml.org/Schemas/V6.0/Profiles/BulletinEAWS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://caaml.org/Schemas/V6.0/Profiles/BulletinEAWS" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.0.0">
	<import namespace="http://www.opengis.net/gml" schemaLocation="CAAMLv5_BulletinEAWS_GML.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

	<!--*********************************************-->
	<!--***        MAIN BULLETIN ELEMENTS         ***-->
	<!--*********************************************-->
	<element name="ObsCollection" type="caaml:ObsCollectionType"/>
	<complexType name="ObsCollectionType">
		<sequence>
			<element name="metaData" type="caaml:MetaDataBaseType" minOccurs="0"/>
			<element name="observations">
				<complexType>
					<sequence maxOccurs="unbounded">
						<element ref="caaml:Bulletin"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<!-- BULLETIN-->
	<element name="Bulletin" type="caaml:BulletinType"/>
	<complexType name="BulletinType" final="#all">
		<sequence>
			<element name="metaData" type="caaml:MetaDataBaseType" minOccurs="0"/>
			<element name="validTime" type="caaml:ValidTimeType"/>
			<element name="srcRef" type="caaml:SourceRefType"/>
			<element name="locRef" type="caaml:LocRefType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="bulletinResultsOf">
				<complexType>
					<sequence>
						<element name="BulletinMeasurements" type="caaml:BulletinMeasurementsType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute ref="gml:id" use="required"/>
		<attribute ref="xml:lang" use="required"/>
	</complexType>
	<!-- BULLETIN MEASUREMENTS -->
	<complexType name="BulletinMeasurementsType" final="#all">
		<sequence>
			<element name="metaData" type="caaml:MetaDataBaseType" minOccurs="0"/>
			<element name="dangerRatings" minOccurs="0">
				<annotation>
					<documentation>Complex property element type of list of danger ratings</documentation>
				</annotation>
				<complexType>
					<sequence maxOccurs="unbounded">
						<element name="DangerRating" type="caaml:DangerRatingType"/>
					</sequence>
				</complexType>
			</element>
			<element name="dangerPatterns" minOccurs="0">
				<annotation>
					<documentation>Complex property element type of list of danger patterns</documentation>
				</annotation>
				<complexType>
					<sequence maxOccurs="unbounded">
						<element name="DangerPattern" type="caaml:DangerPatternType"/>
					</sequence>
				</complexType>
			</element>
			<element name="avProblems" minOccurs="0">
				<annotation>
					<documentation>Complex property element type of list of avalanche problems</documentation>
				</annotation>
				<complexType>
					<sequence maxOccurs="unbounded">
						<element name="AvProblem" type="caaml:AvProblemType"/>
					</sequence>
				</complexType>
			</element>
			<element name="tendency" type="caaml:TendencyType" minOccurs="0">
				<annotation>
					<documentation>Complex property element type of tendency</documentation>
				</annotation>
			</element>
			<element name="highlights" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for general highlight</documentation>
				</annotation>
			</element>
			<element name="wxSynopsisHighlights" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for highlights of weather synopsis</documentation>
				</annotation>
			</element>
			<element name="wxSynopsisComment" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for weather synopsis</documentation>
				</annotation>
			</element>
			<element name="avActivityHighlights" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for highlights of avalache activity</documentation>
				</annotation>
			</element>
			<element name="avActivityComment" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for avalanche activity</documentation>
				</annotation>
			</element>
			<element name="snowpackStructureHighlights" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for highlights of snowpack structure</documentation>
				</annotation>
			</element>
			<element name="snowpackStructureComment" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for snowpack structure</documentation>
				</annotation>
			</element>
			<element name="travelAdvisoryHighlights" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for highlights of travel advisory</documentation>
				</annotation>
			</element>
			<element name="travelAdvisoryComment" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for travel advisory</documentation>
				</annotation>
			</element>
			<element name="tendencyComment" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for tendency</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<!--********************************************************************************************************-->
	<!--***   DANGER RATING,  DANGER PATTERN, AVALANCHE PROBLEM ELEMENTS, TENDENCY AND MATRIX INFORMATION    ***-->
	<!--********************************************************************************************************-->
	<!-- DANGER RATING -->
	<complexType name="DangerRatingType">
		<sequence>
			<element name="validAspect" type="caaml:ValidAspectType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="validElevation" type="caaml:ValidElevationType" minOccurs="0"/>
			<element name="matrixInformation" type="caaml:MatrixInformationType" minOccurs="0"/>
			<element name="terrainFeature" type="string" minOccurs="0">
				<annotation>
					<documentation>property element for the description of relevant terrain features</documentation>
				</annotation>
			</element>
			<sequence>
				<element name="mainValue" type="caaml:DangerRatingValueType"/>
				<element name="pocketValue" type="caaml:DangerRatingValueType" minOccurs="0"/>
			</sequence>
			<element name="comment" type="string" minOccurs="0"/>
			<element name="customData" type="caaml:CustomDataType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="DangerRatingValueType" final="#all">
		<union memberTypes="gml:NilReasonEnumeration caaml:DangerRatingValueBaseType"/>
	</simpleType>
	<simpleType name="DangerRatingValueBaseType">
		<restriction base="string">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
			<enumeration value="5"/>
			<enumeration value="n/a"/>
		</restriction>
	</simpleType>
	<!-- DANGER PATTERN -->
	<complexType name="DangerPatternType">
		<sequence>
			<element name="type" type="caaml:DangerPatternTypeType">
				<annotation>
					<documentation>Property element for name of danger pattern</documentation>
				</annotation>
			</element>
			<element name="validTime" type="caaml:ValidTimeType" minOccurs="0"/>
			<element name="validAspect" type="caaml:ValidAspectType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="validElevation" type="caaml:ValidElevationType" minOccurs="0"/>
			<element name="comment" type="string" minOccurs="0"/>
			<element name="customData" type="caaml:CustomDataType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="DangerPatternTypeType">
		<restriction base="string">
			<enumeration value="DP1"/>
			<enumeration value="DP2"/>
			<enumeration value="DP3"/>
			<enumeration value="DP4"/>
			<enumeration value="DP5"/>
			<enumeration value="DP6"/>
			<enumeration value="DP7"/>
			<enumeration value="DP8"/>
			<enumeration value="DP9"/>
			<enumeration value="DP10"/>
		</restriction>
	</simpleType>
	<!-- AVALANCHE PROBLEM -->
	<complexType name="AvProblemType">
		<sequence>
			<element name="type" type="caaml:AvProblemTypeType">
				<annotation>
					<documentation>Property element for name of avalanche problem</documentation>
				</annotation>
			</element>
			<element name="validTime" type="caaml:ValidTimeType" minOccurs="0"/>
			<element name="validAspect" type="caaml:ValidAspectType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="validElevation" type="caaml:ValidElevationType" minOccurs="0"/>
			<element name="matrixInformation" type="caaml:MatrixInformationType" minOccurs="0"/>
			<element name="terrainFeature" type="string" minOccurs="0">
				<annotation>
					<documentation>property element for the description of relevant terrain features</documentation>
				</annotation>
			</element>
			<element name="comment" type="string" minOccurs="0"/>
			<element name="customData" type="caaml:CustomDataType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="AvProblemTypeType">
		<restriction base="string">
			<enumeration value="new snow"/>
			<enumeration value="drifting snow"/>
			<enumeration value="old snow"/>
			<enumeration value="wet snow"/>
			<enumeration value="gliding snow"/>
			<enumeration value="favourable situation"/>
		</restriction>
	</simpleType>
	<!-- TENDENCY -->
	<complexType name="TendencyType">
		<sequence>
			<element name="type" type="caaml:TendencyTypeType">
				<annotation>
					<documentation>Property element for name of tendency</documentation>
				</annotation>
			</element>
			<element name="validTime" type="caaml:ValidTimeType" minOccurs="0"/>
			<element name="comment" type="string" minOccurs="0"/>
			<element name="customData" type="caaml:CustomDataType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="TendencyTypeType">
		<restriction base="string">
			<enumeration value="decreasing"/>
			<enumeration value="steady"/>
			<enumeration value="increasing"/>
		</restriction>
	</simpleType>
	<!-- MATRIX INFORMATION -->
	<complexType name="MatrixInformationType">
		<sequence>
			<element name="artificialDangerRating" type="caaml:DangerRatingValueBaseType" minOccurs="0"/>
			<element name="artificialAvSize" type="caaml:AvSizeValueBaseType" minOccurs="0"/>
			<element name="artificialAvReleaseProbability" type="caaml:ArtificialAvReleaseProbabilityType" minOccurs="0"/>
			<element name="artificialHazardSiteDistribution" type="caaml:HazardSiteDistributionType" minOccurs="0"/>
			<element name="naturalDangerRating" type="caaml:DangerRatingValueBaseType" minOccurs="0"/>
			<element name="naturalAvReleaseProbability" type="caaml:NaturalAvReleaseProbabilityType" minOccurs="0"/>
			<element name="naturalHazardSiteDistribution" type="caaml:HazardSiteDistributionType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="AvSizeValueBaseType">
		<restriction base="string">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
			<enumeration value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="ArtificialAvReleaseProbabilityType">
		<restriction base="string">
			<enumeration value="one"/>
			<enumeration value="two"/>
			<enumeration value="three"/>
			<enumeration value="four"/>
		</restriction>
	</simpleType>
	<simpleType name="NaturalAvReleaseProbabilityType">
		<restriction base="string">
			<enumeration value="one"/>
			<enumeration value="two"/>
			<enumeration value="three"/>
			<enumeration value="four"/>
		</restriction>
	</simpleType>
	<simpleType name="HazardSiteDistributionType">
		<restriction base="string">
			<enumeration value="single"/>
			<enumeration value="some"/>
			<enumeration value="many"/>
			<enumeration value="many_most"/>
			<enumeration value="moderately_steep"/>
		</restriction>
	</simpleType>


	<!--*****************************************-->
	<!--***        META DATA ELEMENTS         ***-->
	<!--*****************************************-->
	<complexType name="MetaDataBaseType">
		<sequence>
			<element name="dateTimeReport" type="gml:TimePositionType" minOccurs="0"/>
			<element name="extFiles" type="caaml:ExtFilesType" minOccurs="0"/>
			<element name="comment" type="string" minOccurs="0"/>
			<element name="customData" type="caaml:CustomDataType" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- EXTERNAL FILES -->
	<complexType name="ExtFilesType">
		<sequence maxOccurs="unbounded">
			<element name="extFile" type="caaml:ExtFileType"/>
		</sequence>
	</complexType>
	<complexType name="ExtFileType">
		<sequence>
			<element name="description" type="string" minOccurs="0"/>
			<element name="fileReferenceURI" type="anyURI"/>
			<element name="customData" type="caaml:CustomDataType" minOccurs="0"/>
		</sequence>
		<attribute ref="gml:id" use="required"/>
	</complexType>
	<!-- CUSTOM DATA-->
	<complexType name="CustomDataType" final="#all">
		<annotation>
			<documentation>Property element for custom data</documentation>
		</annotation>
		<sequence>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<!--************************************************-->
	<!--***        SOURCE REFERENCE ELEMENTS         ***-->
	<!--************************************************-->
	<complexType name="SourceRefType">
		<choice>
			<element name="Operation" type="caaml:OperationType"/>
			<element name="Person" type="caaml:PersonType"/>
		</choice>
	</complexType>
	<!--  OPERATION  -->
	<complexType name="OperationType" final="#all">
		<complexContent>
			<extension base="caaml:SourceType">
				<sequence>
					<element name="contactPerson" type="caaml:PersonType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--  PERSON  -->
	<complexType name="PersonType" final="#all">
		<complexContent>
			<extension base="caaml:SourceType"/>
		</complexContent>
	</complexType>
	<complexType name="SourceType">
		<sequence>
			<element name="metaData" type="caaml:MetaDataBaseType" minOccurs="0">
				<annotation>
					<documentation>Property element for description of source</documentation>
				</annotation>
			</element>
			<element name="name" type="string"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
	</complexType>

	<!--******************************************************-->
	<!--***           LOCATION INFORMATION                 ***-->
	<!--******************************************************-->
	<!-- LOCATION -->
	<complexType name="LocRefType">
		<attribute ref="xlink:href" use="required"/>
	</complexType>
	<!-- ASPECT -->
	<simpleType name="ValidAspectType">
		<restriction base="string">
			<enumeration value="N"/>
			<enumeration value="NE"/>
			<enumeration value="E"/>
			<enumeration value="SE"/>
			<enumeration value="S"/>
			<enumeration value="SW"/>
			<enumeration value="W"/>
			<enumeration value="NW"/>
			<enumeration value="n/a"/>
		</restriction>
	</simpleType>
	<!-- ELEVATION -->
	<complexType name="ValidElevationType" final="#all">
		<annotation>
			<documentation>Property element for elevation of location</documentation>
		</annotation>
		<choice minOccurs="0">
			<element name="elevationPosition">
				<complexType>
					<complexContent>
						<extension base="caaml:ElevationPositionType"/>
					</complexContent>
				</complexType>
			</element>
			<element name="elevationRange">
				<complexType>
					<complexContent>
						<extension base="caaml:ElevationRangeType"/>
					</complexContent>
				</complexType>
			</element>
		</choice>
		<attribute ref="xlink:href" use="optional"/>
	</complexType>
	<complexType name="ElevationPositionType">
		<sequence>
			<element name="position" type="caaml:ElevationBaseType"/>
		</sequence>
		<attribute name="uom" type="caaml:UomLengthType" use="required" fixed="m"/>
		<attribute ref="gml:id" use="optional"/>
	</complexType>
	<complexType name="ElevationRangeType">
		<sequence>
			<element name="beginPosition" type="caaml:ElevationBaseType" minOccurs="0"/>
			<element name="endPosition" type="caaml:ElevationBaseType" minOccurs="0"/>
		</sequence>
		<attribute name="uom" type="caaml:UomLengthType" use="required" fixed="m"/>
		<attribute ref="gml:id" use="optional"/>
	</complexType>
	<simpleType name="ElevationBaseType">
		<restriction base="integer">
			<minInclusive value="-500"/>
			<maxInclusive value="9000"/>
		</restriction>
	</simpleType>

	<!--**********************************************************-->
	<!--***                 TIME ELEMENTS                      ***-->
	<!--**********************************************************-->
	<complexType name="ValidTimeType" final="#all">
		<annotation>
			<documentation>Property element for time reference</documentation>
		</annotation>
		<choice>
			<element name="TimeInstant" type="caaml:TimeInstantType"/>
			<element name="TimePeriod" type="caaml:TimePeriodType"/>
		</choice>
	</complexType>
	<complexType name="TimeInstantType">
		<sequence>
			<element name="timePosition" type="gml:TimePositionType"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
	</complexType>
	<complexType name="TimePeriodType">
		<sequence>
			<element name="beginPosition" type="gml:TimePositionType"/>
			<element name="endPosition" type="gml:TimePositionType"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
	</complexType>

	<!--***********************************************-->
	<!--***     MEASUREMENT TYPE DEFINITIONS        ***-->
	<!--***********************************************-->
	<simpleType name="UomLengthType" final="#all">
		<restriction base="string">
			<enumeration value="cm"/>
			<enumeration value="mm"/>
			<enumeration value="m"/>
			<enumeration value="in"/>
			<enumeration value="ft"/>
		</restriction>
	</simpleType>

	<!--************************************-->
	<!--***           COLLECTIONS        ***-->
	<!--************************************-->
	<!-- ELEVATION COLLECTION -->
	<element name="ElevationCollection" type="caaml:ElevationCollectionType"/>
	<complexType name="ElevationCollectionType">
		<sequence>
			<element name="metaData" type="caaml:MetaDataBaseType"/>
			<element name="elevations" type="caaml:ElevationsType"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<complexType name="ElevationsType">
		<sequence maxOccurs="unbounded">
			<choice>
				<element name="ElevationPosition">
					<complexType>
						<complexContent>
							<extension base="caaml:ElevationPositionType"/>
						</complexContent>
					</complexType>
				</element>
				<element name="ElevationRange">
					<complexType>
						<complexContent>
							<extension base="caaml:ElevationRangeType"/>
						</complexContent>
					</complexType>
				</element>
			</choice>
		</sequence>
	</complexType>
	<!-- LOCATION COLLECTION -->
	<element name="LocationCollection" type="caaml:LocationCollectionType"/>
	<complexType name="LocationCollectionType">
		<sequence>
			<element name="metaData" type="caaml:MetaDataBaseType"/>
			<element name="locations" type="caaml:LocationsType"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<complexType name="LocationsType">
		<sequence maxOccurs="unbounded">
			<element name="Region" type="caaml:RegionType"/>
		</sequence>
	</complexType>
	<complexType name="RegionType" final="#all">
		<sequence>
			<element name="metaData" type="caaml:MetaDataBaseType"/>
			<element name="description" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for description of location</documentation>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<documentation>Property element for name of location</documentation>
				</annotation>
			</element>
			<element name="regionSubType" type="string">
				<annotation>
					<documentation>Required property element for specifying sub type of region (forecast area, drainage,..)</documentation>
				</annotation>
			</element>
			<element name="centerPoint" minOccurs="0">
				<annotation>
					<documentation>Property element for coordinates of center point</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element ref="gml:Point"/>
					</sequence>
				</complexType>
			</element>
			<element name="outline" minOccurs="0">
				<annotation>
					<documentation>Property element for coordinates of region outline</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element ref="gml:Polygon"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute ref="gml:id" use="required"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>

</schema>
